#selected-hitbox {
  border: 1px solid blue;
}

#sprite-list-container {
  display:inline-block;
  width: 170px;
  height: 900px;
  border: 1px solid black;
  vertical-align: top;
}

.sprite-item {
  cursor: default;
}

.selected {
  background-color: lightblue;
}

.hitbox-input {
  width: 120px;
}

.sprite-list-scroll {
  overflow: scroll;
  width: 100%;
  height: 800px;
}

.hitbox-section {
  vertical-align: top;
  padding: 5px;
  width: 320px;
  display:inline-block;
  border: 1px solid black;
}

.hitbox-tag-input {
  width: 40px;
}

.frame-data {
  padding: 4px;
}

.selected-frame {
  -webkit-box-shadow:inset 0px 0px 0px 2px lightgreen;
  -moz-box-shadow:inset 0px 0px 0px 2px lightgreen;
  box-shadow:inset 0px 0px 0px 2px lightgreen;
}

.canvas-section {
  display:inline-block;
  vertical-align: top;
}

.canvas-wrapper {
  overflow: scroll;
  border: 1px solid black;
}

.level-canvas-wrapper {
  overflow: scroll;
  background: darkgray;
}

.short-input {
  width: 30px;
}

#instance-properties {
  border: 1px solid black;
}

.unselectable {
  cursor: default;
}

.properties {
  display:inline-block;
  vertical-align: top;
}